name: CI Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
  
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.x
 
    - name: Restore Nuget packages
      run: dotnet restore
              
    - name: Build
      run: msbuild eShopOnWinUI.slnx
  
    - name: Run tests
      run: dotnet test
